.circle {
  position: relative;
  width: 32.5%;
  height: auto;
  padding-top: 32.5%;
  border-radius: 50%;
  text-align: center;
  background-color: $circle-blue;
  box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.18);

  @include media('below-desktop') {
    width: 100%;
    margin-bottom: rem(30);
    padding-top: 0;
    border-radius: 20px;
    box-shadow: 0px 7px 5px 0 rgba(0, 0, 0, 0.1);

    &:nth-of-type(2) {
      order: 2;
      margin-bottom: 0;
    }

    &:nth-of-type(3) {
      order: 1;
    }
  }
}

.circle__inner-wrapper {
  @extend %full-stretch;

  position: absolute;
  padding: rem(60) rem(30);

  @include media('below-desktop') {
    position: relative;
    padding: rem(30) 10%;
  }
}

.circle__title {
  @extend %text--25;

  display: block;
  margin-bottom: rem(12);
  font-weight: bold;
  color: $white;

  @include media('below-desktop') {
    font-size: rem(18);
  }
}

.circle__content {
  padding-top: rem(12);
  border-top: 1px solid #67a1d3;

  @include media('below-desktop') {
    padding-top: rem(5);
  }
}

.circle__text {
  @extend %text--18;

  line-height: 1.7;
  color: $white;

  @include media('below-desktop') {
    font-size: rem(16);
  }
}

.circle__arrow {
  display: inline-block;
  margin-top: rem(18);
}
