.heading {
  &--main {
    margin-bottom: rem(22);

    .insights & {
      margin-bottom: rem(45);

      @include media('below-desktop') {
        margin-bottom: rem(18);
      }
    }

    @include media('below-desktop') {
      margin-bottom: rem(18);
    }
  }

  &--sub {
    margin-bottom: rem(35);

    @include media('below-desktop') {
      margin-bottom: rem(25);
    }
  }
}

.heading {
  text-align: center;
}

.heading__title {
  position: relative;
  padding: rem(20) 0 rem(22);
  line-height: 1.2;

  &--main {
    @extend %heading--45;

    @include media('below-desktop') {
      font-size: rem(24);
    }
  }

  &--sub {
    @extend %heading--30;

    @include media('below-desktop') {
      font-size: rem(20);
    }
  }

  &--notes {
    @extend %heading--40;

    @include media('below-desktop') {
      font-size: rem(22);
    }
  }

  &--lightblue {
    color: $light-blue;
  }

  &--blue {
    color: $main-blue;
  }

  &--lightgreen {
    color: $light-green;
  }

  &--green {
    color: $regular-green;
  }

  &--brown {
    color: $main-brown;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 66px;
    height: 4px;

    .us-plan & {
      background-color: $main-blue;
    }

    .fixed-plan & {
      background-color: $regular-green;
    }

    .insights & {
      background-color: $dark-brown;
    }

    .notes & {
      background-color: $main-blue;
    }

    @include media('below-desktop') {
      width: 40px;
      height: 2px;
    }
  }

  .intro-block--sub-section & {
    @extend %heading--30;
  }

  @include media('below-desktop') {
    padding: rem(8) 0 rem(12);
  }
}

.heading__icon {
  @include media('below-desktop') {
    width: 35px;
  }
}
