.img-card {
  padding: 0 rem(5);

  @include media('below-tablet') {
    padding: 0;

    &:not(:last-of-type) {
      margin-bottom: rem(40);
    }
  }
}

.img-card__wrapper {
  width: 100%;
  height: 100%;
  background-color: $lighter-gray;
}

.img-card__top {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 69.23%;
  overflow: hidden;

  @include media('below-tablet') {
    padding-top: 26.82%;
  }
}

.img-card__image {
  @extend %full-stretch;
  @extend %background-cover;

  position: absolute;
  background-position: 0% 50%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 12%;
    transform-origin: top right;
    transform: skewY(-4deg);
    background-color: #f6f6f6;

    @include media('below-tablet') {
      content: none;
    }
  }

  .img-card:nth-of-type(1) & {
    background-image: url('../images/insights_cover_1.jpg');

    @include media('below-tablet') {
      background-image: url('../images/insights_cover_1_m.jpg');
    }
  }

  .img-card:nth-of-type(2) & {
    background-image: url('../images/insights_cover_2.jpg');

    @include media('below-tablet') {
      background-image: url('../images/insights_cover_2_m.jpg');
    }
  }

  .img-card:nth-of-type(3) & {
    background-image: url('../images/insights_cover_3.jpg');

    @include media('below-tablet') {
      background-image: url('../images/insights_cover_3_m.jpg');
    }
  }

  @include media('below-tablet') {
    margin-bottom: 0;
  }
}

.img-card__title {
  @extend %full-stretch;
  @extend %flex-center;
  @extend %text--24;

  position: absolute;
  font-weight: bold;

  .img-card:nth-of-type(1) & {
    color: $white;
  }

  .img-card:nth-of-type(2) &,
  .img-card:nth-of-type(3) & {
    color: $dark-black;
  }

  @include media('below-tablet') {
    font-size: rem(20);
  }
}

.img-card__bottom {
  padding: rem(20) rem(25) rem(30);

  @include media('below-tablet') {
    padding: rem(20);
  }
}

.img-card__item {
  @include media('below-tablet') {
    &:not(:last-of-type) {
      margin-bottom: rem(15);
    }
  }
}

.img-card__text {
  @extend %text--18;

  position: relative;
  padding-left: rem(10);
  line-height: 1.65;
  color: $black;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: $black;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }

  @include media('below-tablet') {
    font-size: rem(16);
  }
}
