.intro-block {
  .main-section & {
    margin-bottom: rem(50);

    @include media('below-desktop') {
      margin-bottom: rem(25);
    }
  }
}

.intro-block__text {
  @extend %text--20;

  line-height: 1.5;
  color: $black;

  @include media('below-desktop') {
    font-size: rem(16);
  }
}

.intro-block__highlight {
  font-weight: bold;
  color: $red;
}
