// Desktop
.navbar {
  display: block;
  margin-top: rem(10);

  @include media('below-tablet') {
    display: none;
  }
}

.navbar__list {
  display: flex;
}

.navbar__item {
  &:not(:last-of-type) {
    margin-right: rem(50);
  }
}

.navbar__link {
  @extend %text--20;

  position: relative;
  padding-bottom: rem(8);
  color: $dark-blue;
  font-weight: bold;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 3px;
    background: $dark-blue;
    transition: right 0.3s ease-out;
  }

  &:hover::before {
    right: 0;
  }
}

// Mobile
.nav-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 24px;

  @include media('below-tablet') {
    display: block;

    .nav-is-open & {
      margin-top: rem(10);
      margin-right: rem(10);
    }
  }
}

.nav-btn__line {
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 4.5px;
  background-color: $dark-blue;
  transition: all 0.3s;

  .nav-is-open & {
    background: none;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 3.5px;
    background-color: $dark-blue;
    transition: all 0.3s;
  }

  &::before {
    top: 0;

    .nav-is-open & {
      top: 3px;
      transform: rotate(-45deg);
    }
  }

  &::after {
    top: 18px;

    .nav-is-open & {
      top: 3px;
      transform: rotate(45deg);
    }
  }
}

.navbar-mobile {
  display: none;

  .nav-is-open & {
    @include media('below-tablet') {
      display: block;
    }
  }
}

.navbar-mobile__item {
  border-bottom: 1px solid $white;
  text-align: center;

  &:first-of-type {
    border-top: 1px solid $white;
  }
}

.navbar-mobile__link {
  @extend %text--30;

  display: block;
  padding: rem(30) 0;
  font-weight: bold;
  color: $dark-blue;
}
