.rectangle-bar {
  @extend %align-center;
  @extend %text--20;

  width: 510px;
  padding: rem(22) rem(10);
  border-radius: 10px;
  line-height: 1.3;
  text-align: center;
  color: white;

  &:nth-of-type(1) {
    background-color: $step-1-green;
  }

  &:nth-of-type(2) {
    background-color: $step-2-green;
  }

  &:nth-of-type(3) {
    background-color: $step-3-green;
  }

  &:nth-of-type(4) {
    background-color: $step-4-green;
  }

  &:nth-of-type(5) {
    background-color: $step-5-green;
  }

  &:not(:last-of-type) {
    margin-bottom: rem(2);
  }

  @include media('below-tablet') {
    width: 100%;
    font-size: rem(16);
  }
}
