.round-bar {
  display: flex;
  align-items: center;
  margin-bottom: rem(10);
  padding: rem(20) rem(30) rem(20) rem(15);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: $light-gray;
  box-shadow: 0.5px 1.9px 3px 0 rgba(1, 1, 1, 0.13);

  @include media('below-tablet') {
    padding-right: rem(15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.round-bar__imgs {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 145px;

  @include media('below-tablet') {
    width: 100px;
    justify-content: flex-start;

    img {
      width: 40%;
    }

    img:nth-of-type(1) {
      margin-right: rem(5);
    }
  }
}

.round-bar__content {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: rem(35);

  @include media('below-tablet') {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
}

.round-bar__text {
  @extend %text--18;

  flex: 1;
  line-height: 1.45;

  @include media('below-tablet') {
    font-size: rem(16);
  }
}

.round-bar__link {
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}

.round-bar__free-btn-wrapper {
  width: 120px;
  text-align: right;

  @include media('below-tablet') {
    margin-top: rem(5);
    margin-left: auto;
  }
}
