.timeline {
  display: flex;
  margin-left: rem(-25);
  margin-right: rem(-25);

  @include media('below-tablet') {
    display: block;
    position: relative;
    margin: 0;

    &::before {
      content: '';
      position: absolute;
      left: 4px;
      width: 1px;
      height: 100%;
      background-color: $dark-gray;
    }
  }
}

.timeline__item {
  position: relative;
  width: 25%;
  padding: 0 rem(25);

  &::before {
    content: '';
    position: absolute;
    top: 165px;
    left: 48%;
    transform: translateX(-48%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $lighter-green;
    z-index: 2;

    @include media('below-tablet') {
      top: 51%;
      left: 0;
      transform: translate(0, -51%);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 170px;
    left: -50%;
    width: 100%;
    height: 1px;
    background-color: $dark-gray;
    z-index: 1;

    @include media('below-tablet') {
      content: none;
    }
  }

  &:first-of-type::after {
    content: none;
  }

  @include media('below-tablet') {
    display: flex;
    align-items: center;
    width: 100%;
    margin: rem(10) 0;
    padding-left: rem(20);
    padding-right: 0;
  }
}

.timeline__icon-wrapper {
  margin-bottom: rem(40);
  text-align: center;

  @include media('below-tablet') {
    width: 20%;
    margin-bottom: 0;
  }
}

.timeline__icon {
  @include media('above-tablet') {
    &.mobile {
      display: none;
    }
  }

  @include media('below-tablet') {
    &.desktop {
      display: none;
    }
  }
}

.timeline__content {
  @include media('below-tablet') {
    flex: 1;
    margin-left: rem(8);
  }
}

.timeline__title {
  @extend %heading--24;

  margin-bottom: rem(20);
  text-align: center;
  color: $dark-black;

  @include media('below-tablet') {
    margin-bottom: rem(5);
    text-align: left;
    font-size: rem(18);
  }
}

.timeline__text {
  @extend %text--18;

  line-height: 1.65;

  @include media('below-tablet') {
    font-size: rem(16);
  }
}
