.flat-btn {
  @extend %text--20;

  position: relative;
  width: 250px;
  max-width: 100%;
  padding: rem(15) rem(10);
  border-radius: 25px;
  text-align: center;
  color: $white;
  transition: color 0.3s;
  overflow: hidden;

  &::before {
    @extend %full-stretch;

    content: '';
    position: absolute;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: scale(0);
    transition: transform 0.3s ease-out;
  }

  &:hover,
  &:active {
    color: $white;

    &::before {
      transform: scale(2);
    }
  }

  @include media('below-tablet') {
    width: 100%;
    padding-top: rem(20);
    padding-bottom: rem(20);
    border-radius: 50px;
    font-size: rem(16);
  }

  &--green {
    background-color: $main-green;
  }

  &--lightred {
    background-color: $light-red;
  }

  &--darkred {
    background-color: $dark-red;
  }

  &--blue {
    background-color: $main-blue;
  }

  &--shadow {
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.2);
  }

  &--wide {
    padding: rem(18) 0;
    border-radius: 30px;
  }

  &--small {
    @extend %text--16;

    width: auto;
    padding: rem(6) rem(14);

    @include media('below-tablet') {
      font-size: rem(14);
    }
  }

  .fixed-plan & {
    width: 45%;

    @include media('below-tablet') {
      width: 100%;
    }
  }
}
