.square-fill-btn {
  @extend %text--15;

  position: relative;
  padding: rem(12) rem(24);
  background-color: $main-brown;
  color: $white;
  transition: color 0.3s;
  overflow: hidden;

  &::before {
    @extend %full-stretch;

    content: '';
    position: absolute;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.15);
    transform: scale(0);
    transition: transform 0.3s ease-out;
  }

  &:hover,
  &:active {
    color: $white;

    &::before {
      transform: scale(2);
    }
  }

  @include media('below-tablet') {
    width: 100%;
    padding-top: rem(12);
    padding-bottom: rem(12);
    font-size: rem(14);
  }
}
