.square-line-btn {
  @extend %text--17;

  padding: rem(8) rem(12);
  border: 1px solid $lighter-blue;
  color: $lighter-blue;

  &.circle__more-btn {
    margin-top: rem(20);
  }

  @include media('below-desktop') {
    font-size: rem(14);
    padding: rem(6) rem(10);
  }
}
