/* ------------------------------------
 *  Common Styles
 * --------------------------------- */
.container {
  @extend %align-center;

  width: 100%;
  min-width: auto;
  max-width: $inner-wrapper-l;
  overflow: hidden;
}

.inner-container {
  max-width: $inner-wrapper-m;
  margin: 0 auto;
  padding: 0 rem(20);

  .hero & {
    width: 100%;
    height: 100%;
  }
}

.main-section {
  padding: rem(70) 0;

  @include media('below-tablet') {
    padding: rem(35) 0;
  }
}

.main-section__top {
  margin-bottom: rem(50);

  @include media('below-tablet') {
    margin-bottom: rem(25);
  }
}

/* ------------------------------------
 *  Hero Section
 * --------------------------------- */
.hero {
  position: relative;
  height: 520px;
  background-image: url('../images/hero_bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @include media('below-tablet') {
    height: 55vw;
  }
}

.hero__wrapper {
  width: 100%;
  height: 100%;
}

.hero__header {
  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    opacity: 0.95;
    z-index: 1;
  }

  &.nav-is-open {
    @include media('below-tablet') {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      max-width: 100%;
      max-height: 100%;
      margin: 0;
      padding: 0;
      background-color: $sky-blue;
      opacity: 1;
      z-index: 3;
    }
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(15) 0;

  .is-fixed & {
    max-width: 960px;
    margin: 0 auto;
    padding-left: rem(20);
    padding-right: rem(20);
  }

  .nav-is-open & {
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }

  @include media('below-tablet') {
    padding: 1vw 0;
  }
}

.header__logo {
  .nav-is-open & {
    display: none;
  }

  @include media('below-tablet') {
    padding-bottom: 0;
  }
}

.header__logo-link {
  width: 65%;

  @include media('below-tablet') {
    width: 55%;
  }
}

.hero__content {
  position: absolute;
  top: 25%;
  left: 50%;
  width: calc(100% - 40px);
  max-width: 1000px;
  transform: translateX(-50%);
}

.hero__content-img {
  margin: 0 auto;

  &.desktop {
    display: block;
  }

  &.mobile {
    display: none;
  }

  @include media('below-tablet') {
    &.mobile {
      display: block;
    }

    &.desktop {
      display: none;
    }
  }
}

/* ------------------------------------
 *  美股專案
 * --------------------------------- */
.us-plan__circles-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media('below-desktop') {
    flex-direction: column;
  }
}

.account {
  margin-bottom: rem(80);

  @include media('below-tablet') {
    margin-bottom: rem(40);
  }
}

.account__bank-item {
  padding: rem(5);
  text-align: center;

  &:nth-of-type(2) {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;

    @include media('below-tablet') {
      border-left: 0;
      border-right: 0;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
    }
  }

  @include media('below-tablet') {
    padding: rem(25) 0;

    &:nth-of-type(1) {
      padding-top: 0;
    }

    &:nth-of-type(3) {
      padding-bottom: 0;
    }
  }
}

.account__bank-img-wrapper {
  @extend %flex-center;

  height: 95px;
  margin-bottom: rem(20);
}

.account__bank-name {
  @extend %heading--24;

  @include media('below-tablet') {
    font-size: rem(18);
  }
}

.account__bank-text {
  @extend %text--18;

  margin: rem(20) 0 rem(15);
  line-height: 1.4;

  @include media('below-tablet') {
    font-size: rem(16);
  }
}

/* ------------------------------------
 *  固定收益專案
 * --------------------------------- */

.fixed-plan {
  background-color: $beige;
}

.fixed-plan__btns {
  display: flex;
  justify-content: space-around;

  @include media('below-tablet') {
    flex-direction: column;

    .flat-btn:first-of-type {
      margin-bottom: rem(5);
    }
  }
}

.platform__timeline {
  margin-bottom: rem(50);

  @include media('below-tablet') {
    margin-bottom: rem(25);
  }
}

/* ------------------------------------
 *  投資觀點
 * --------------------------------- */
.img-card__btn-wrapper {
  padding-bottom: rem(35);
  text-align: center;

  @include media('below-tablet') {
    padding: 0 rem(20) rem(20);
  }
}

/* ------------------------------------
 *  注意事項
 * --------------------------------- */
.notes {
  background-color: $gray;
}

.notes__text-item {
  @extend %text--18;

  position: relative;
  display: flex;
  line-height: 1.65;
  color: $black;

  &:nth-of-type(1)::before {
    content: '1.';
  }

  &:nth-of-type(2)::before {
    content: '2.';
  }

  &:nth-of-type(3)::before {
    content: '3.';
  }

  &:nth-of-type(4)::before {
    content: '4.';
  }

  &:nth-of-type(5)::before {
    content: '5.';
  }

  @include media('below-desktop') {
    font-size: rem(16);
  }
}

.notes__notice {
  @extend %align-center;

  max-width: 530px;
  margin-top: rem(40);
  margin-bottom: rem(40);

  @include media('below-desktop') {
    margin-top: rem(25);
    margin-bottom: rem(25);
  }
}

.notes__notice-text {
  @extend %text--18;

  padding: rem(5) rem(10);
  border: 1px solid $main-blue;
  border-radius: 20px;
  text-align: center;
  line-height: 1.3;
  color: $main-blue;

  @include media('below-desktop') {
    font-size: rem(16);
  }
}

.notes__notice-symbol {
  margin-right: rem(3);
  font-size: rem(24);
}

.notes__btn-item {
  padding: rem(12);
  text-align: center;

  &:nth-of-type(2) {
    border-left: 1px solid #b7d8df;
    border-right: 1px solid #b7d8df;

    @include media('below-tablet') {
      border: 0;
    }
  }

  &:not(:last-of-type) {
    @include media('below-tablet') {
      margin-bottom: rem(10);
    }
  }

  @include media('below-tablet') {
    padding: 0;
  }
}

/* ------------------------------------
 *  Footer
 * --------------------------------- */
.footer__wrapper {
  @extend %flex-center;

  flex-wrap: wrap;
  padding: rem(30) 0;
}

.footer__company {
  display: flex;
  align-items: center;
  margin-right: rem(12);
  width: 310px;

  @include media('below-tablet') {
    justify-content: center;
    width: auto;
    margin-right: 0;
  }
}

.footer__logo {
  width: 40%;
  @include media('below-tablet') {
    width: 30%;
  }
}

.footer__name,
.footer__info {
  @extend %text--14;

  margin-top: rem(10);
  line-height: 1.2;
}

.footer__name {
  margin-left: rem(30);

  @include media('below-tablet') {
    margin-top: rem(15);
    margin-left: rem(10);
  }
}

.footer__info {
  @include media('below-tablet') {
    margin-top: rem(10);
    text-align: center;
  }
}

.footer__mail-link {
  color: inherit;
  text-decoration: underline;
}
