*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 微軟正黑體, 'Microsoft JhengHei', SegoeUI, 'Segoe UI',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  pointer-events: none;
}

a {
  display: inline-block;
  text-decoration: none;
}
