%heading--45 {
  font-size: rem(45);
  font-weight: bold;

  @include media("below-tablet") {
    font-size: rem(40);
  }
}

%heading--40 {
  font-size: rem(40);
  font-weight: bold;
}

%heading--30 {
  font-size: rem(30);
  font-weight: bold;
}

%heading--24 {
  font-size: rem(24);
  font-weight: bold;
}

%text--30 {
  font-size: rem(30);
}

%text--25 {
  font-size: rem(25);
}

%text--24 {
  font-size: rem(24);
}

%text--20 {
  font-size: rem(20);
}

%text--18 {
  font-size: rem(18);
}

%text--17 {
  font-size: rem(17);
}

%text--16 {
  font-size: rem(16);
}

%text--15 {
  font-size: rem(15);
}

%text--14 {
  font-size: rem(14);
}
