/* ------------------------------------
 *  Color
 * --------------------------------- */
$black: #343434;
$dark-black: #000;

$white: #fff;
$beige: #faf9f1;

$main-blue: #3276b0;
$circle-blue: #2b7cc1;
$dark-blue: #09367b;
$sky-blue: #b3dcec;
$light-blue: #00b8ff;
$lighter-blue: #5af1ff;

$red: #bc002f;
$light-red: #e61a0f;
$dark-red: #ae0e1d;

$main-green: #069a4d;
$regular-green: #009c7d;
$light-green: #59b119;
$lighter-green: #18bc9b;
$step-1-green: #3bbf70;
$step-2-green: #35b065;
$step-3-green: #30a15b;
$step-4-green: #2b904f;
$step-5-green: #258146;

$main-brown: #dab10e;
$dark-brown: #c6900f;

$gray: #edf3f8;
$light-gray: #f9f9f9;
$lighter-gray: #f6f6f6;
$dark-gray: #dfdfdf;

/* ------------------------------------
 *  Font
 * --------------------------------- */
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-700: 700;

 /* ------------------------------------
 *  Inner Wrapper
 * --------------------------------- */
$inner-wrapper-l: 1920px;
$inner-wrapper-m: 1000px;
